<header>
    <nav  class="content-centered">
        <div class="logo">
            Magazine
        </div>
        <div>
            <div id="cart">
                <span class="icono-cart" id="cart-quantity">
                    0
                </span>
                <div id="cart-list"></div>
            </div>
            
            <div class="icono-menu">
                <i class="fas fa-bars" id="menu-bars"></i>
            </div>
        </div>
       
        <div class="menu" id="menu-list" >
            <ul>
                <li><a href="">News</a></li>
                <li><a href="">Art</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </div>
    </nav>
</header>